/* This file is free software: you can redistribute it and/or */
/* modify it under the terms of the GNU General Public License as */
/* published by the Free Software Foundation, either version 3 of */
/* the License, or (at your option) any later version. */

/* This file is distributed in the hope that it will be useful, */
/* but WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the */
/* GNU General Public License for more details. */


.title {padding-bottom: 1em;}

.subtitle {font-size: 75%; font-weight: 550}


#content {
    max-width: 1000px;
}


h1 {
    font-size: 220%;
}

.outline-2 {
    margin-bottom: 1.8em;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin: 0em 0em 1.2em 0em;
}

.outline-3 > ul, /* for HTML export of Beamer slides */
.outline-4 > ol, #text-footnotes {
    margin-left: 0px;
}



table th, td {vertical-align: middle; line-height: 1em; padding: 4px 5px;}

table caption {font-size: 90%:}

blockquote {
    font-size: 95%;
    padding: 1px 10px;
    margin: 0px 0px 24px 0px;
}

blockquote p {margin: 0.5em 0;}

  dl {
      display: grid;
      grid-template-columns: max-content auto;
      margin: 0.5em 0 0 0;
  }

  dt {grid-column-start: 1;}

  dd {
      grid-column-start: 2;
      margin-left: 10px;
      margin-bottom: 0.5em;
  }

/*  details p {padding-left: .8em; font-size: .9em;} */

  div.footdef {
      display: flex;
      align-items: flex-start;
  }

    
  div.footdef sup {
      vertical-align: super;
      top: unset;
  }  
  
  div.footpara {
      display: inline-block;
      padding:  0em 0em 1em .6em;
      margin: 0;
  }

  p.footpara { margin: 0; padding: 0;}
